- cache do
  - javascript 'custom_checkbox'
  - semantic_form_for @transaction_type do |f|
    - f.inputs do
      = f.input :code
      = f.input :description, :input_html => { :rows => 3 }
      = f.input :direction, :as => :radio, :collection => [['In',0],['Out',1],['Both',2]], :wrapper_html => { :class => 'inline' }
      = f.input :negate, :input_html => { :class => 'firerift-style-checkbox' }
      = f.input :alter_date, :input_html => { :class => 'firerift-style-checkbox' }
    %fieldset.buttons
      %button{ 'type' => 'submit' }
        = "#{image_tag('icons/silk/disk.png')} Save transaction type"
