- cache do
  - title "Transaction Type"

  - content_for :breadcrumb do
    = breadcrumb [ link_to('Transactions', transactions_path), |
      link_to('Transaction types', transaction_types_path), |
      "#{@transaction_type.code}" ] |

    = sidemenu @tab

  %p 
    Code:
    %strong= @transaction_type.code
  %p
    Description:
    %strong= @transaction_type.description
  %p
    Direction:
    %strong= @transaction_type.direction
  %p
    Negate:
    %strong= @transaction_type.negate
  %p
    Alter Date:
    %strong= @transaction_type.alter_date
