- cache do
  - title "On Hands Report"
  - content_for :breadcrumb do
    = breadcrumb [ link_to('Reports', reports_path), |
      "On Hands Report" ] |

  %fieldset.plain
    %legend Filter
    - form_tag reports_on_hands_path, :method => :get do
      %p.date_range
        = label_tag 'from'
        = text_field_tag 'from', @from, :class => 'datepicker'
        = label_tag 'until'
        = text_field_tag 'until', @until, :class => 'datepicker'
        %button{ :type => :submit } Go

  #items
    %table.list
      %tr
        %th Code
        %th Name
        %th On Hand
      - for item in @items
        %tr
          %td= link_to item.code, item
          %td= item.name
          %td= item.on_hand_stock
