- cache do
  - title "On Hands Report"
  - content_for :breadcrumb do
    = breadcrumb [ link_to('Reports', reports_path), |
      "On Hands Report" ] |

  %fieldset.plain
    %legend Filter
    - form_tag reports_on_hands_path, :method => :get do
      %p.date_range
        = label_tag 'until', 'Report per'
        = text_field_tag 'until', @until, :class => 'datepicker'
        %button{ :type => :submit } Go
        = link_to "#{image_tag('icons/silk/page_white_acrobat.png')} download PDF", reports_on_hands_path(:format => :pdf)

  #items
    %table.list
      %tr
        %th Code
        %th Name
        %th On Hand
      - for item in @items
        %tr
          %td= link_to item.code, item
          %td= item.name
          %td= item.on_hand_stock

    = will_paginate(@items)

