<li>
  <a href="#">+ Master Data</a>
  <ul>
    <li><%= link_to "Warehouses", warehouses_path %></li>
    <li><%= link_to "Item Categories", categories_path %></li>
    <li><%= link_to "Items", items_path %></li>
    <li><%= link_to "PLU", plus_path %></li>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Suppliers", suppliers_path %></li>
  </ul>
</li>
<li><%= link_to "Manage roles", roles_path %></li>
