- cache do
  #dialog_form
    - title "Item Transfer"

    - content_for :breadcrumb do
      = breadcrumb [ link_to('Transaction', transactions_path), |
        link_to('Item Transfers',item_transfers_path), |
        "Transaction #{@item_transfer.number}" ] |

    = sidemenu @tab

    %p
      %span.light.transaction_label Transaction number
      %strong= @item_transfer.number

    %p
      %span.light.transaction_label Originator Warehouse
      %strong= link_to @item_transfer.originator_warehouse.code, @item_transfer.originator_warehouse

    %p
      %span.light.transaction_label Destination Warehouse
      %strong= link_to @item_transfer.destination_warehouse.code, @item_transfer.destination_warehouse

    %div
      %span.light.transaction_label Remark
      %p= @item_transfer.remark

    %p
      %strong Transaction Entries
    %table.report
      %tr
        %th #
        %th PLU
        %th Item
        %th Quantity
      - @item_transfer.entries.each_with_index do |entry, n|
        %tr
          %td.index= n+1
          %td= entry.plu.code
          %td= entry.plu.item.name_with_code
          %td.tdr= entry.quantity

