<% title "New Item In" %>

<% form_for @item_in do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :destination_warehouse %><br />
    <%= f.text_field :destination_warehouse %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>


<p><%= link_to "Back to List", item_ins_path %></p>
