<% cache do %>
  <% title "Plus" %>

  <% content_for :breadcrumb do %>
    <%= breadcrumb [ link_to("Administrations", administrations_path),
                     link_to("PLU", plus_path) ] %>
  <% end -%>

  <% content_for :main_act do %>
    <%= link_to "#{image_tag('icons/silk/add.png')} Create new PLU", new_plu_path, :class => "main_link new_plu", :title => "Create New PLU" %>
  <% end -%>

  <%= sidemenu %>

  <table class="list">
    <tr>
      <th>Item</th>
      <th>Supplier</th>
      <th>Payment Term</th>
      <th class="actions">Actions</th>
    </tr>
    <% for plu in @plus %>
      <tr>
        <td><strong><%=h plu.item.code %></strong> <em><%=h plu.item.name %></em></td>
        <td><%=h plu.supplier.name %></td>
        <td><%=h plu.payment_term %></td>
         <td class="actions">
           <%= link_to image_tag('icons/silk/application_form_edit.png'), edit_plu_path(plu), :title => 'Edit PLU' %>
          <%= link_to image_tag('icons/silk/delete.png'), plu, :confirm => 'Are you sure?', :method => :delete, :title => 'Delete PLU' %>
        </td>
      </tr>
    <% end %>
  </table>
<% end -%>

