<% javascript "items" %>

<div id="dialog_form">
  <%= javascript_tag "var categories = ['#{@categories_list.join("', '")}'];" %>
  <% semantic_form_for @item, {}, :html => { :id => "item_form" } do |f| %>
    <ul class="form_info">
      <li>Fields marked <span class="required">*</span> are required</li>
    </ul>
    <% f.inputs do %>
      <%= f.input :code, :input_html => { :class => 'default' } %>
      <%= f.input :name %>
      <%= f.input :category_name %>
      <%= f.input :description, :input_html => { :rows => 3 } %>
    <% end -%>
    <fieldset class="buttons">
      <button type="submit"><%= image_tag 'icons/silk/disk.png' %> Save Item</button>
    </fieldset>
  <% end %>
</div>
