<% title "Categories" %>

<table>
  <tr>
    <th>Company</th>
    <th>Name</th>
    <th>Description</th>
    <th>Parent</th>
    <th>Lft</th>
    <th>Rgt</th>
  </tr>
  <% for category in @categories %>
    <tr>
      <td><%=h category.company_id %></td>
      <td><%=h category.name %></td>
      <td><%=h category.description %></td>
      <td><%=h category.parent_id %></td>
      <td><%=h category.lft %></td>
      <td><%=h category.rgt %></td>
      <td><%= link_to "Show", category %></td>
      <td><%= link_to "Edit", edit_category_path(category) %></td>
      <td><%= link_to "Destroy", category, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Category", new_category_path %></p>
