-cache do
  - title "Begining Balances"
  - content_for :breadcrumb do
    = breadcrumb [ link_to("Transactions", transactions_path), 'Begining Balances' ]

  = sidemenu @tab

  - content_for :main_act do
    = link_to "#{image_tag('icons/silk/add.png')} Create new BB ", new_begining_balance_path, :class => "main_link new_bb", :title => "Create New Begining Balance"

  %table.list
    %tr
      %th Number
      %th Created
      %th Last Update
      %th.actions Actions
    - for begining_balance in @begining_balances
      %tr
        %td= link_to begining_balance.number, begining_balance
        %td= begining_balance.created_at
        %td= begining_balance.updated_at
        %td.actions= link_to image_tag('icons/silk/application_form_edit.png'), edit_begining_balance_path(begining_balance)
