<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'reset',
      'application',
      'formtastic',
      'formtastic_changes',
      'jquery.autocomplete',
      'jquery.boxy',
      :cache => 'style'
    %>
    <%= yield(:head) %>
  </head>

  <body>
    <noscript>
      <h1>
        Your browser have javascript support disabled, this application must have javascript support enabled
        to function properly. Please enable javascript support or contact your system administrator.
      </h1>
    </noscript>
    <div id="container">
      <div id="banner">
        <div id="user_nav">
          Loged in as <strong><%=h current_user.username %></strong> &bull;
          <%= link_to "Change password", edit_user_path(current_user) %> &bull;
          <%= link_to "Log out", signout_path %><br/>
        </div>
        <div id="user_logo">
          <%= image_tag 'box1.png' %>
          <span><%=h current_company.name %> :: Inventory System</span>
        </div>
        <% tab = { 'dashboard' => nil, 'transactions' => nil, 'reports' => nil, 'administrations' => nil } %>
        <% tab[ @tab || 'dashboard' ] = 'current' %>
        <ul id="tabs">
          <li><%= link_to "Dashboard", dashboard_path, :class => tab['dashboard'] %><div></div></li>
          <li><%= link_to "Transactions", transactions_path, :class => tab['transactions'] %><div></div></li>
          <li><%= link_to "Reports", reports_path, :class => tab['report'] %><div></div></li>
          <li><%= link_to "Administrations", administrations_path, :class => tab['administrations'] %><div></div></li>
        </ul>
      </div>
      <div id="content">
        <div id="sidebar">
          <%= render "shared/hint" unless @hint.blank? %>
          <%= yield :main_act %>
          <%= render "shared/#{@tab}" %>
        </div>
        <div id="main">
          <div id="breadcrumb">
            <%= yield :breadcrumb %>
          </div>
          
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
          
          <%= yield %>
        </div>
        <div id="footer">
          <p>
            <a href="#">About Us</a> &bull;
            <a href="#">Site Map</a> &bull;
            <a href="#">Contact Us</a>
          </p>
          Copyright &copy; <%= Time.now.year %> Rahmat Budiharso
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'jquery',
      'jquery.autocomplete.min',
      'jquery.boxy',
      'application',
      :cache => 'jquery'
    %>
    <%= yield :javascripts %>
  </body>
</html>
