<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <title><%= h(yield(:title) || "Inventory System") %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/red_heart.ico" />
    <%= stylesheet_link_tag 'reset', 'login', :cache => 'login' %>
    <%= stylesheet_link_tag 'formtastic','formtastic_changes', :cache => 'formtastic' %>
    <%= yield(:stylesheets) %>
    <%= yield(:head) %>
  </head>

  <body>
    <div id="container">
      <div id="banner">
        <div id="user_logo">
          <span><%=h current_company.name %> :: Inventory System</span>
        </div>
      </div>
      <div id="content">
        <noscript>
          <div id="flash_error">
            Sorry, but it seems that your browser currently has it's javascript support disabled.
            In order to use this application javascript support has to be enabled.
            <%= link_to "How to enable javascript?", '#' %>
          </div>
        </noscript>
        <div id="main">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'jquery', 'application', :cache => 'jquery' %>
    <%= yield(:javascripts) %>
  </body>
</html>
